/*------------- 
    fonts 
--------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*----------------- 
    common css 
-----------------*/

body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 50px;
}
*{
    margin: 0;
    padding: 0;
}
.bg-red{
    background-color: #DD0000;
    color: #fff;
}
.bg-dark{
    background-color: #161616;
}

/* ----------
    header
----------- */
header{
    border-radius: 30px;
    color: #fff;
    display: flex;
    align-items:flex-end;
    margin-bottom: 130px;
    padding: 80px 0 0 80px;
}
header .text, header .image{
    width: 50%;
}
header .text{
    padding-bottom:80px;
} 
header .text h1{
    font-size: 4.4vw;
    margin-bottom: 20px;
    font-weight: 700;
}
header p{
    font-size:16px;
    margin-bottom: 30px;
}
header .image{
    text-align: center;
}
header img{
    width: 100%;
}
.btn{
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    padding: 15px 25px;
    font-weight: 500;
}

/*-------------------
    Main Body
---------------------*/
main{
    display: grid;
    grid-template-columns: 23% auto;
    grid-gap: 24px;
    margin-bottom: 130px;
}
/*-------------------
    Left Sidebar
---------------------*/

aside ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
aside ul li{
    margin: 30px;
    background-color: #fff;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 500;
    border: 1px solid #E8E8E8;
}
aside ul li a{
    text-decoration: none;
    color: #161616;
    padding: 17px 0;
    display: block;
}
aside .bg-red{
    border: none;
}
aside .bg-red a{
    color: #fff;
}


/*-------------------
        Blog 
---------------------*/
.blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}
article {
    border: 1px solid rgba(22, 22, 22, 0.2);
    border-radius: 10px;
}
.more {
    text-align: center;
    display: none;
    margin-top: 50px;
}
/*-------------------
        footer
---------------------*/

footer{
    padding: 130px;
}
footer h1{
    color: #fff;
    text-align: center;
}
hr{
    border:1px solid rgba(255, 255, 255, 0.1);
    margin: 50px 0;
}
footer ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer a{
    text-decoration: none;
    color: #B9B9B9;
    padding: 1vw;
    margin: 1vw;
    display: inline-block;
}
.social{
    margin-top: 20px;
}
.social a{
    font-size: 24px;
}
/*-------------------
      Media Query
---------------------*/
@media only screen and (max-width:991px) and (min-width:576px) {
main{
    grid-template-columns: repeat(1, 1fr);
  } 
  aside ul{
    flex-direction: row;
    background: #fff !important;
    gap:30px;
  }
  aside ul li{
    width: 33%;
    margin:0;
  }
  .blog{
    grid-template-columns: repeat(2, 1fr);
  }
  .more{
    display: block;
  }
}

@media only screen and (max-width:576px) {
   header{
    flex-direction: column;
    padding: 20px;
    padding-bottom: 0;

    margin-bottom: 50px;
    border-radius: 10px;
   }
   header .text, header .image{
    width: 100%;
   } 

   main{
    grid-template-columns: repeat(1, 1fr);
   }
  aside ul {
    background: #fff !important;
  }
  aside ul li{
    margin-top: 0;
  }
  .blog{
    grid-template-columns: repeat(1, 1fr);
  }
  footer{
    padding: 30px;
  }
  .footer-menu ul{
    flex-direction: column;
  }
  .footer-menu ul li{
    text-align: center;
  }
}