/*------------- 
    fonts 
--------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*----------------- 
    common css 
-----------------*/

body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1240px;
    margin: 0 auto;
}
*{
    margin: 0;
    padding: 0;
}
.bg-red{
    background-color: #DD0000;
    color: #fff;
}
.bg-dark{
    background-color: #161616;
}

/* ----------
    header
----------- */
header{
    border-radius: 30px;
    color: #fff;
    display: flex;
    align-items:flex-end;
    margin-bottom: 130px;
    padding: 80px;
    padding-bottom: 0;
}
header .text, header .image{
    width: 50%;
}
header .text{
    padding-bottom:80px;
} 
header .text h1{
    font-size: 70px;
    margin-bottom: 20px;
    font-weight: 700;
}
header p{
    font-size: 16px;
    margin-bottom: 30px;
}
header .image{
    text-align: center;
}
header img{
    width: 100%;
}
header .btn{
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    padding: 15px 25px;
    font-weight: 500;
}

/*-------------------
    Main Body
---------------------*/
main{
    display: grid;
    grid-template-columns: 23% auto;
    grid-gap: 24px;
    margin-bottom: 130px;
}
/*-------------------
    Left Sidebar
---------------------*/
aside{

}
aside ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
aside ul li{
    margin: 30px;
    background-color: #fff;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 500;
}
aside ul li a{
    text-decoration: none;
    color: #161616;
    padding: 17px 0;
    display: block;
}
.bg-red a{
    color: #fff;
}

/*-------------------
        Blog
---------------------*/
.blog{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}
article{
    border: 1px solid rgba(22, 22, 22, 0.2);
    border-radius: 10px;
}
.card-img img{
    width: 100%;
}
.card-body{
    margin: 20px;
}
.card-body .btn{
    margin-bottom: 20px;
    border: 1px solid #161616;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    color: #161616;
    padding: 3px 20px;
}
.card-body h3{
    font-size: 18px;
    margin-bottom: 20px;
}
.card-footer{
    color: rgba(22, 22, 22, 0.7);
    font-size: 16px;
}
.card-footer .time{
    margin-right: 30px;
}

.card-footer .fa-regular{
    padding-right: 10px;
}

/*-------------------
        footer
---------------------*/

footer{
    padding: 130px;
}
footer h1{
    color: #fff;
    text-align: center;
}
hr{
    border:1px solid rgba(255, 255, 255, 0.1);
    margin: 50px 0;
}
footer ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer a{
    text-decoration: none;
    color: #B9B9B9;
    padding: 15px;
    margin: 15px;
    display: inline-block;
}
.social{
    margin-top: 20px;
}
.social a{
    font-size: 24px;
}